[Desktop Entry]
Type=Application
X-Nemo-Application-Type=silica-qt5
Icon=cyanide
Exec=cyanide
Name=Cyanide
# translation example:
# your app name in German locale (de)
Name[de]=Cyanide

